#AppBillsList_container{
    background-color: #D6CFB3;
    height:fit-content;
    min-height: 85dvh;
    padding-bottom: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-width: 1200px;
}

#AppBillsList_filtersContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
}

#AppBillsList_billsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#AppBillsList_table{
    border-collapse: collapse; 
    width: 90%;
    height: fit-content;
    background-color: #5B627E;
}

.AppBillsList_tableRow{
    height: 90px;
    background-color: #5B627E;
    border-bottom: solid black 3px;
}

.AppBillsList_title{
    font-size: 30px;
    color: #D6CFB3;
}
