body{
    min-width: 1100px;
}

/*
#AppBillsPage_container{

}
*/

#AppBillsPage_backgroundOverlay{
    background-color:  #29304C;
    height: fit-content;
    min-height: 85dvh;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

#AppBillsPage_navbarContainer{
background-color: #29304C;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: left;
    min-width: 1170px;
    /*
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    */
    gap: 8px;
}

.AppBillsPage_navbarButton{
    background-color: #D6CFB3;
    width: fit-content;
    height: 60px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    justify-items: center;
    align-content: center;
}

.AppBillsPage_buttonBackground{
    background-color: #29304C;
    width: 95%;
    height: 86%;
    padding: 8px;
    text-align: center;
}

.AppBillsPage_buttonBackground:hover,
.AppBillsPage_buttonBackground:hover .AppBillsPage_navbarText{
    cursor: pointer;
    background-color: #5B627E;
}

.AppBillsPage_navbarText{
    background-color: #29304C;
    width: 95%;
    height: 86%;
    text-align: center;
    font-size: 30px;
    color: #D6CFB3;
    margin-right: 30px;
}